# Introduction to Pandas Lab

Complete the following set of exercises to solidify your knowledge of Pandas fundamentals.

### 1. Import Numpy and Pandas and alias them to `np` and `pd` respectively.

In [1]:
import pandas as pd
import numpy as np

### 2. Create a Pandas Series containing the elements of the list below.

In [2]:
lst = [5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]

In [3]:
# your code here

# Create a pandas series
pandas_series = pd.Series(lst)

# Display the series
pandas_series

0     5.7
1    75.2
2    74.4
3    84.0
4    66.5
5    66.3
6    55.8
7    75.7
8    29.1
9    43.7
dtype: float64

In [4]:
type(pandas_series)

pandas.core.series.Series

### 3. Use indexing to return the third value in the Series above.

*Hint: Remember that indexing begins at 0.*

In [5]:
# your code here

# Print the third value in the series
third_value = pandas_series[3]

print(third_value)

84.0

### 4. Create a Pandas DataFrame from the list of lists below. Each sublist should be represented as a row.

In [6]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [7]:
# your code here
df = pd.DataFrame(data= b)

# Display the dataset
df

      0     1     2     3     4
0  53.1  95.0  67.5  35.0  78.4
1  61.3  40.8  30.8  37.8  87.6
2  20.6  73.2  44.2  14.6  91.8
3  57.4   0.1  96.1   4.2  69.5
4  83.6  20.5  85.4  22.8  35.9
5  49.0  69.0   0.1  31.8  89.1
6  23.3  40.7  95.0  83.8  26.9
7  27.6  26.4  53.8  88.8  68.5
8  96.6  96.4  53.4  72.4  50.1
9  73.7  39.0  43.2  81.6  34.7

### 5. Rename the data frame columns based on the names in the list below.

In [8]:
b_names = ["score_1", "score_2", "score_3", "score_4", "score_5"]

In [9]:
# your code here
df.columns = b_names

df

# ---- Method 2 ----
# df = pd.DataFrame(data= b, columns= b_names)

   score_1  score_2  score_3  score_4  score_5
0     53.1     95.0     67.5     35.0     78.4
1     61.3     40.8     30.8     37.8     87.6
2     20.6     73.2     44.2     14.6     91.8
3     57.4      0.1     96.1      4.2     69.5
4     83.6     20.5     85.4     22.8     35.9
5     49.0     69.0      0.1     31.8     89.1
6     23.3     40.7     95.0     83.8     26.9
7     27.6     26.4     53.8     88.8     68.5
8     96.6     96.4     53.4     72.4     50.1
9     73.7     39.0     43.2     81.6     34.7

### 6. Create a subset of this data frame that contains only the Score 1, 3, and 5 columns.

In [10]:
# your code here
df_subset = pd.DataFrame(data= df, columns= ['score_1', 'score_3', 'score_5'])

# Display subset dataset
df_subset

   score_1  score_3  score_5
0     53.1     67.5     78.4
1     61.3     30.8     87.6
2     20.6     44.2     91.8
3     57.4     96.1     69.5
4     83.6     85.4     35.9
5     49.0      0.1     89.1
6     23.3     95.0     26.9
7     27.6     53.8     68.5
8     96.6     53.4     50.1
9     73.7     43.2     34.7

### 7. From the original data frame, calculate the average Score_3 value.

In [11]:
# your code here
mean_score3 = df['score_3'].mean()

print(f"Average Score of score_3 column: {mean_score3:.2f}")

# Verify using .describe() method
# df['score_3'].describe()

Average Score of score_3 column: 56.95

### 8. From the original data frame, calculate the maximum Score_4 value.

In [12]:
# your code here
max_score_4 = df['score_4'].max( skipna= True)

print(f"Maximun Value in score_4 column: {max_score_4:.2f}")

Maximun Value in score_4 column: 88.80

### 9. From the original data frame, calculate the median Score 2 value.

In [13]:
# your code here

median_score2 = df['score_2'].median(skipna= True)

print(f"Median value in score_2 column: {median_score2}")

Median value in score_2 column: 40.75

### 10. Create a Pandas DataFrame from the dictionary of product orders below.

In [14]:
orders = {'Description': ['LUNCH BAG APPLE DESIGN',
  'SET OF 60 VINTAGE LEAF CAKE CASES ',
  'RIBBON REEL STRIPES DESIGN ',
  'WORLD WAR 2 GLIDERS ASSTD DESIGNS',
  'PLAYING CARDS JUBILEE UNION JACK',
  'POPCORN HOLDER',
  'BOX OF VINTAGE ALPHABET BLOCKS',
  'PARTY BUNTING',
  'JAZZ HEARTS ADDRESS BOOK',
  'SET OF 4 SANTA PLACE SETTINGS'],
 'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
 'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
 'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]}

In [15]:
# your code here

df_order = pd.DataFrame(data= orders)

# Display dataset
df_order

                          Description  Quantity  UnitPrice  Revenue
0              LUNCH BAG APPLE DESIGN         1       1.65     1.65
1  SET OF 60 VINTAGE LEAF CAKE CASES         24       0.55    13.20
2         RIBBON REEL STRIPES DESIGN          1       1.65     1.65
3   WORLD WAR 2 GLIDERS ASSTD DESIGNS      2880       0.18   518.40
4    PLAYING CARDS JUBILEE UNION JACK         2       1.25     2.50
5                      POPCORN HOLDER         7       0.85     5.95
6      BOX OF VINTAGE ALPHABET BLOCKS         1      11.95    11.95
7                       PARTY BUNTING         4       4.95    19.80
8            JAZZ HEARTS ADDRESS BOOK        10       0.19     1.90
9       SET OF 4 SANTA PLACE SETTINGS        48       1.25    60.00

### 11. Calculate the total quantity ordered and revenue generated from these orders.

In [16]:
# your code here

# Sum Quantity and Revenue column
df_order[['Quantity', 'Revenue']].sum()

Quantity    2978.0
Revenue      637.0
dtype: float64

### 12. Obtain the prices of the most expensive and least expensive items ordered and print the difference.

In [17]:
# your code here

# Find the most expensice item
most_expensive = df_order['UnitPrice'].max()

# Find the least expensive item
least_expensive = df_order['UnitPrice'].min()

# Calculate price difference
price_diff = most_expensive - least_expensive

print(f"Most expensive: ${most_expensive} \nLeast expensive: ${least_expensive}")
print(f"The price differnce: ${price_diff}")

Most expensive: $11.95
Least expensive: $0.18
The price differnce: $11.77

## Let's load another dataset for more exercisesº

In [18]:
# Run this code:
df_admissions = pd.read_csv('../Admission_Predict.csv')

Let's evaluate the dataset by looking at the `head` function.

In [19]:
# your code here

# Display the top rows of tht dataset
df_admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

### 1 - Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [33]:
# your code here

# Check for missing values in the DataFrame
missing_values = df_admissions.isnull()

# Count missing values in each column
missing_count = missing_values.sum()

# Display missing value in each column
missing_count

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

###  2 -  Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [23]:
df_admissions['Serial No.']

0        1
1        2
2        3
3        4
4        5
      ...
380    381
381    382
382    383
383    384
384    385
Name: Serial No., Length: 385, dtype: int64

In [30]:
new_index = list(df_admissions['Serial No.'])
type(new_index)

list

In [31]:
new_index

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385]

In [32]:
# your code here

df_admissions.index = new_index

# df_admissions.index
df_admissions

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
1,1,337,118,4,4.5,4.5,9.65,1,0.92
2,2,316,104,3,3.0,3.5,8.00,1,0.72
3,3,322,110,3,3.5,2.5,8.67,1,0.80
4,4,314,103,2,2.0,3.0,8.21,0,0.65
5,5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...
381,381,324,110,3,3.5,3.5,9.04,1,0.82
382,382,325,107,3,3.0,3.5,9.11,1,0.84
383,383,330,116,4,5.0,4.5,9.45,1,0.91
384,384,312,103,3,3.5,4.0,8.78,0,0.67
385,385,333,117,4,5.0,4.0,9.66,1,0.95

In [84]:
df_admissions.head(50)

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
1,1,337,118,4,4.5,4.5,9.65,1,0.92
2,2,316,104,3,3.0,3.5,8.00,1,0.72
3,3,322,110,3,3.5,2.5,8.67,1,0.80
4,4,314,103,2,2.0,3.0,8.21,0,0.65
5,5,330,115,5,4.5,3.0,9.34,1,0.90
6,6,321,109,3,3.0,4.0,8.20,1,0.75
7,7,308,101,2,3.0,4.0,7.90,0,0.68
8,8,302,102,1,2.0,1.5,8.00,0,0.50
9,9,323,108,3,3.5,3.0,8.60,0,0.45
10,10,327,111,4,4.0,4.5,9.00,1,0.84
11,11,328,112,4,4.0,4.5,9.10,1,0.78
12,12,307,109,3,4.0,3.0,8.00,1,0.62
13,13,311,104,3,3.5,2.0,8.20,1,0.61
14,14,314,105,3,3.5,2.5,8.30,0,0.54
15,15,317,107,3,4.0,3.0,8.70,0,0.66
16,16,319,106,3,4.0,3.0,8.00,1,0.65
17,17,318,110,3,4.0,3.0,8.80,0,0.63
18,18,303,102,3,3.5,3.0,8.50,0,0.62
19,19,325,114,4,3.0,2.0,8.40,0,0.70
20,20,328,116,5,5.0,5.0,9.50,1,0.94
21,21,334,119,5,5.0,4.5,9.70,1,0.95
22,22,336,119,5,4.0,3.5,9.80,1,0.97
23,23,322,109,5,4.5,3.5,8.80,0,0.76
24,24,298,98,2,1.5,2.5,7.50,1,0.44
25,25,295,93,1,2.0,2.0,7.20,0,0.46
26,26,310,99,2,1.5,2.0,7.30,0,0.54
27,27,300,97,2,3.0,3.0,8.10,1,0.65
28,28,327,103,3,4.0,4.0,8.30,1,0.74
29,29,338,118,4,3.0,4.5,9.40,1,0.91
30,30,340,114,5,4.0,4.0,9.60,1,0.90
31,31,331,112,5,4.0,5.0,9.80,1,0.94
32,32,320,110,5,5.0,5.0,9.20,1,0.88
33,33,299,106,2,4.0,4.0,8.40,0,0.64
34,34,300,105,1,1.0,2.0,7.80,0,0.58
35,35,304,105,1,3.0,1.5,7.50,0,0.52
36,36,307,108,2,4.0,3.5,7.70,0,0.48
37,37,308,110,3,3.5,3.0,8.00,1,0.46
38,38,316,105,2,2.5,2.5,8.20,1,0.49
39,39,313,107,2,2.5,2.0,8.50,1,0.53
40,40,332,117,4,4.5,4.0,9.10,0,0.87
41,41,326,113,5,4.5,4.0,9.40,1,0.91
42,42,322,110,5,5.0,4.0,9.10,1,0.88
43,43,329,114,5,4.0,5.0,9.30,1,0.86
44,44,339,119,5,4.5,4.0,9.70,0,0.89
45,45,321,110,3,3.5,5.0,8.85,1,0.82
46,46,327,111,4,3.0,4.0,8.40,1,0.78
47,47,313,98,3,2.5,4.5,8.30,1,0.76
48,48,312,100,2,1.5,3.5,7.90,1,0.56
49,49,334,116,4,4.0,3.0,8.00,1,0.78
50,50,324,112,4,4.0,2.5,8.10,1,0.72

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [64]:
len(df_admissions['GRE Score'].unique())==len(df_admissions)

False

In [70]:
len(df_admissions['CGPA'].unique())==len(df_admissions)

False

In [68]:
df_admissions.duplicated(subset='CGPA').sum()

np.int64(217)

In [69]:
df_admissions.duplicated(subset='GRE Score').sum()

np.int64(336)

**Conclusion**

- We can not make ``GRE Score`` and ``CGPA`` as index because it contain duplicate values.

### 3 - In this part of the lab, we would like to test complex conditions on the entire data set at once. Let's start by finding the number of rows where the CGPA is greater than 9 and the student has performed an investigation.

In [34]:
df_admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
1,1,337,118,4,4.5,4.5,9.65,1,0.92
2,2,316,104,3,3.0,3.5,8.00,1,0.72
3,3,322,110,3,3.5,2.5,8.67,1,0.80
4,4,314,103,2,2.0,3.0,8.21,0,0.65
5,5,330,115,5,4.5,3.0,9.34,1,0.90

In [35]:
# your code here
condition = (df_admissions['CGPA']> 9)

df_admissions[condition].head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
1,1,337,118,4,4.5,4.5,9.65,1,0.92
5,5,330,115,5,4.5,3.0,9.34,1,0.90
11,11,328,112,4,4.0,4.5,9.10,1,0.78
20,20,328,116,5,5.0,5.0,9.50,1,0.94
21,21,334,119,5,5.0,4.5,9.70,1,0.95

### 4 - Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [41]:
# your code here

# Define the multiple conditions
mul_condition = (df_admissions['CGPA'] > 9) & (df_admissions['SOP'] < 3.5)

# Display the dataset with multiple condition
new_df =df_admissions[mul_condition]

new_df

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
29,29,338,118,4,3.0,4.5,9.40,1,0.91
63,63,327,114,3,3.0,3.0,9.02,0,0.61
141,141,326,114,3,3.0,3.0,9.11,1,0.83
218,218,324,111,4,3.0,3.0,9.01,1,0.82
382,382,325,107,3,3.0,3.5,9.11,1,0.84

In [43]:
new_df.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

In [46]:
col = new_df.columns[-1]
col

'Chance of Admit '

In [47]:
new_df[col].mean()

np.float64(0.8019999999999999)